#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')

PHP_SOURCE = php
DEB_PACKAGE_SOURCE = php-ape-source
DEB_PACKAGE = php-ape
DEB_PACKAGE_CSS_TANGO = php-ape-css-tango
DEB_PACKAGE_JS_OVERLIB = php-ape-js-overlib
DEB_PACKAGE_JS_TOOLMAN = php-ape-js-toolman
DEB_PACKAGE_DOC = php-ape-doc

.PHONY: build clean install binary-indep binary-arch binary

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Create the Debian packages

	# ... DEB_PACKAGE
	mkdir -p debian/$(DEB_PACKAGE)/usr/share/php-ape
	cp -r php css js debian/$(DEB_PACKAGE)/usr/share/php-ape/.
	mkdir -p debian/$(DEB_PACKAGE)/usr/share/doc/php-ape
	cp *.TXT debian/$(DEB_PACKAGE)/usr/share/doc/php-ape/.
	sed -i "s/@version@/$(DEB_UPSTREAM_VERSION)/g" debian/$(DEB_PACKAGE)/usr/share/doc/php-ape/*.TXT debian/$(DEB_PACKAGE)/usr/share/php-ape/php/include/load.php
	./util/fixperm -s debian/$(DEB_PACKAGE)/usr/share/php-ape
	mkdir -p debian/$(DEB_PACKAGE)/var/lib/php-ape
	./util/fixperm -v debian/$(DEB_PACKAGE)/var/lib/php-ape
	mkdir -p debian/$(DEB_PACKAGE)/var/cache/php-ape
	./util/fixperm -v debian/$(DEB_PACKAGE)/var/cache/php-ape
	mkdir -p debian/$(DEB_PACKAGE)/var/log/php-ape
	./util/fixperm -v debian/$(DEB_PACKAGE)/var/log/php-ape
	mkdir -p debian/$(DEB_PACKAGE)/etc/php-ape
	cp etc/php-ape.env.sh-debian debian/$(DEB_PACKAGE)/etc/php-ape/php-ape.env.sh
	cp etc/php-ape.conf.php-debian debian/$(DEB_PACKAGE)/etc/php-ape/php-ape.conf.php
	cp etc/apache.conf-debian debian/$(DEB_PACKAGE)/etc/php-ape/apache.conf
	./util/fixperm -s debian/$(DEB_PACKAGE)/etc/php-ape
	
	# ... DEB_PACKAGE_CSS_TANGO
	mkdir -p debian/$(DEB_PACKAGE_CSS_TANGO)/usr/share/php-ape/css/icons
	cp -r 3rd-party/css/tango debian/$(DEB_PACKAGE_CSS_TANGO)/usr/share/php-ape/css/icons/.
	./util/fixperm -s debian/$(DEB_PACKAGE_CSS_TANGO)/usr/share/php-ape/css
	
	# ... DEB_PACKAGE_JS_OVERLIB
	mkdir -p debian/$(DEB_PACKAGE_JS_OVERLIB)/usr/share/php-ape/js
	cp -r 3rd-party/js/overlib debian/$(DEB_PACKAGE_JS_OVERLIB)/usr/share/php-ape/js/.
	./util/fixperm -s debian/$(DEB_PACKAGE_JS_OVERLIB)/usr/share/php-ape/js
	
	# ... DEB_PACKAGE_JS_TOOLMAN
	mkdir -p debian/$(DEB_PACKAGE_JS_TOOLMAN)/usr/share/php-ape/js
	cp -r 3rd-party/js/toolman debian/$(DEB_PACKAGE_JS_TOOLMAN)/usr/share/php-ape/js/.
	./util/fixperm -s debian/$(DEB_PACKAGE_JS_TOOLMAN)/usr/share/php-ape/js

	# ... DEB_PACKAGE_DOC
	mkdir -p debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/html
	./util/makedoc PHP_APE "PHP Application Programming Environment" debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/html php doc/phpdoc
	find debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/html -type f -exec fgrep -q '@version@' {} \; -exec sed -i "s/@version@/$(DEB_UPSTREAM_VERSION)/g" {} \;
	cp -r sql debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/.
	./util/fixperm -d debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape
	mkdir -p debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/examples
	cp etc/php-ape.conf.php-sample debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/examples/php-ape.conf.php
	./util/fixperm -d debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs 
	dh_compress --exclude=classTree.js
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

build-source-tarball:
	dh_testdir
	dh_clean build-stamp
	# Create the source tarball
	mkdir -p /tmp/$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)
	cp -r * /tmp/$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)/.
	tar -C /tmp -cjf ../$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION).tar.bz2 $(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)
	rm -rf /tmp/$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)

build-install-tarball:
	# WARNING: make install before-hand!
	# Create the installation tarball
	mkdir -p /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	cp -rp debian/$(DEB_PACKAGE)/usr/share/php-ape/* /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/.
	cp -p debian/$(DEB_PACKAGE)/usr/share/doc/php-ape/*.TXT /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/.
	cp -rp debian/$(DEB_PACKAGE)/var/lib/php-ape /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/data
	cp -rp debian/$(DEB_PACKAGE)/var/cache/php-ape /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/cache
	cp -rp debian/$(DEB_PACKAGE)/var/log/php-ape /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/log
	cp -rp debian/$(DEB_PACKAGE)/etc/php-ape /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/etc
	tar -C /tmp -cjf ../$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION).tar.bz2 $(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	rm -rf /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)

build-doc-tarball:
	# WARNING: make install before-hand!
	# Create the documentation tarball
	mkdir -p /tmp/$(DEB_PACKAGE_DOC)-$(DEB_UPSTREAM_VERSION)
	cp -rp debian/$(DEB_PACKAGE_DOC)/usr/share/doc/php-ape/* /tmp/$(DEB_PACKAGE_DOC)-$(DEB_UPSTREAM_VERSION)/.
	tar -C /tmp -cjf ../$(DEB_PACKAGE_DOC)-$(DEB_UPSTREAM_VERSION).tar.bz2 $(DEB_PACKAGE_DOC)-$(DEB_UPSTREAM_VERSION)
	rm -rf /tmp/$(DEB_PACKAGE_DOC)-$(DEB_UPSTREAM_VERSION)

debian-packages:
	debuild -us -uc -b

debian-source:
	debuild -I'.git*' -us -uc -S

release: debian-packages build-install-tarball build-doc-tarball debian-source build-source-tarball

